---


import branchesLogo from '../assets/branches-logo.png';
---
<div class="container">
    <div class="padder">
        <section id="about">
            <img src={branchesLogo.src} alt="Undermind Logo" class="branches-logo" />
            <div style="display: flex; flex-direction: column; gap: 20px;">
                <section id="header">
                    <h6>
                        About Us
                    </h6>
                    <h1>
                        A Next Generation, AI-Powered Research System
                    </h1>
                </section>
                <div class="copy-col">
                    <p>
                        Undermind isn't just a search engine — it <span style="font-weight: 600;">autonomously researches an entire complex topic for you.</span>
                    </p>
                    <p>
                        Mimicking a human's careful, systematic discovery process, Undermind uses advanced language models to recognize crucial information and learn while it does research. It runs down citation trails, and adapts its search strategy based on what it finds, leading to unprecedented accuracy and comprehensiveness.
                    </p>
                    <p>
                        We <a href="https://www.undermind.ai/static/Undermind_whitepaper.pdf" target="_blank">benchmarked</a> the first version of Undermind to be <span style="font-weight: 600;">10-50x</span> better than Google Scholar, and we've been improving ever since.
                    </p>
                </div>
                <a class="button" style="width: fit-content; color: var(--bg-focus);" href="">
                        Learn more
                </a>
            </div>
        </section>
    </div>
</div>

<style>
    
    #about {
        display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 40px;
		width: 100%;
        align-items: center;
    }

    .branches-logo {
        width: 100%;
        height: auto;
    }

    .logo-container {
        padding: 8px;
        background-color: var(--bg-focus);
        border-radius: 8px;
    }

    @media (max-width: 768px) {
        #about {
            grid-template-columns: 1fr;
        }
        .branches-logo {
            display: none;
        }
    }
    
    
</style>