<div class="container" style="background-color: var(--bg-dark);">
    <div class="padder">
        <section id="examples">
            <div class="header-container">
                <div class="header" style="margin-bottom: 12px;">
                    <h6>
                        Examples
                    </h6>
                    <h1 style="color: var(--text-light);">
                        Solve real, complex problems
                    </h1>
                </div>
            </div>
            <section id="examples-list">
                <div class="example-card">
                    <h6>
                        Quantum Computing
                    </h6>
                    <div class="example-card-content">
                        <p>
                            Has anyone attempted shuttling trapped ions in three dimensions, not two dimensions, for quantum computing applications
                        </p>
                    </div>
                </div>
                <div class="example-card">
                    <h6>
                        Sociology
                    </h6>
                    <div class="example-card-content">
                        <p>
                            I want research articles on the evolutionary purpose of romantic love in humans, particularly its role in parental investment and cooperation for offspring survival.
                        </p>
                    </div>
                </div>
                <div class="example-card">
                    <h6>
                        Artificial Intelligence
                    </h6>
                    <div class="example-card-content">
                        <p>
                            I want to find recent papers on using AI for creating agent-like pipelines to manage a coding database, ideally including the metrics, architecture, etc.
                        </p>
                    </div>
                </div>
                <div class="example-card">
                    <h6>
                        Neuroscience
                    </h6>
                    <div class="example-card-content">
                        <p>
                            I want to investigate the molecular mechanism underlying Hebbian learning. Is there any involvement of hormone-like chemicals such as nerve growth factor?
                        </p>
                    </div>
                </div>
                <div class="example-card">
                    <h6>
                        Information Science
                    </h6>
                    <div class="example-card-content">
                        <p>
                            I want to understand how usage rates on Google Scholar change when the search latency is made longer or shorter. What is the quantitative effect?
                        </p>
                    </div>
                </div>
                <div class="example-card">
                    <h6>
                        Atomic Physics
                    </h6>
                    <div class="example-card-content">
                        <p>
                            I want to find all papers demonstrating laser cooling to Bose-Einstein condensation (BEC) experimentally, without using evaporative cooling.
                        </p>
                    </div>
                </div>
            </section>
            <a class="button examples-button" href="https://app.undermind.ai" target="_blank">Try Your Own Search Now</a>
        </section>
    </div>
</div>

<style>
    #examples-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .example-card {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .example-card h6 {
        padding-left: 24px;
    }

    .example-card-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: #525BFF23;
        padding: 24px;
        border-radius: 32px;
        border: 1px solid #6D6FFD48;
    }

    h6 {
        color: var(--accent-light);
    }

    .example-card p {
        color: var(--text-light);
    }

    .examples-button {
        width: fit-content;
        margin-right: auto;
        margin-left: auto;
        margin-top: 8px;
    }

    .header-container {
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: center;
    }

    @media (max-width: 768px) {
        #examples-list {
            grid-template-columns: 1fr;
        }

        .header-container {
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
        }
    }
</style>