---
import complex_topics from '../assets/complex-topics.svg';
import accurate_results from '../assets/accurate-results.svg';
import comprehensive_discovery from '../assets/comprehensive-discovery.svg';
import brainstorm_copilot from '../assets/brainstorm.svg';
---

<div class="container" id="features">
    <div class="padder">
        <section class="features">
            <div class="two-cols" style="align-items: flex-end;">
                <div class="header">
                    <h6>
                        Features
                    </h6>
                    <h1>
                        An Intelligent Assistant
                    </h1>
                </div>
                <div class="copy-col" style="padding-bottom: 4px;">
                    <p>Imagine having a research assistant who works tirelessly for you.</p>
                    <p>Instead of spending hours searching for answers, you’d have the best knowledge and solutions at your fingertips—instantly.</p>
                    <p>Now, with cutting-edge AI, it’s a reality.</p>
                </div>
            </div>
            <section id="feature-row">
                <div class="feature-card">
                    <img src={complex_topics.src} alt="Complex Topics" />
                    <h3>
                        Incredibly complex topics
                    </h3>
                    <p>
                        Talk to Undermind like you would a smart colleague.
                    </p>
                </div>
                <div class="feature-card">
                    <img src={accurate_results.src} alt="Accurate Results" />
                    <h3>
                        Accurate results
                    </h3>
                    <p>
                        Undermind finds the precise papers you need, with clear explanations about why they matter.
                    </p>
                </div>
                <div class="feature-card">
                    <img src={comprehensive_discovery.src} alt="Comprehensive Discovery" />
                    <h3>
                        Comprehensive discovery
                    </h3>
                    <p>
                        Undermind analyzes hundreds of papers, learning as it goes — and knows how far it needs to look to find everything.
                    </p>
                </div>
                <div class="feature-card">
                    <img src={brainstorm_copilot.src} alt="Brainstorm Copilot" />
                    <h3>
                        Powerful analysis
                    </h3>
                    <p>
                        Ask followup questions to deeply and quickly understand the results.
                    </p>
                </div>
            </section>
        </section>
    </div>
</div>

<style>

    .features {
        display: flex;
        flex-direction: column;
        gap: 120px;
        justify-content: center;
        height: 100%;
    }

    #title-row {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    #feature-row {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .feature-card {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 25%;
    }

    .feature-card img {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }

    .feature-card h3 {
        margin-left: 12px;
    }

    .feature-card p {
        margin-left: 12px;
    }
    

    .header-with-subheader {
        display: flex;
        flex-direction: column;
        gap: 0px;
        width: 50%;
        justify-content: end;
    }

    @media (max-width: 768px) {
        #feature-row {
            flex-direction: column;
        }
        .feature-card {
            width: 100%;
        }
        .features {
            gap: 40px;
        }
    }

    
</style>